---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: qotd-quote
    tier: api
  name: qotd-quote
spec:
  replicas: 2
  selector:
    matchLabels:
      app: qotd-quote
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: qotd-quote
    spec:
      containers:
      - env:
        - name: LOG_LEVEL
          value: info
        - name: ENABLE_INSTANA
          value: "false"
        - name: ANOMALY_GENERATOR_URL
        - name: DB_HOST
          value: ${QOTD_DB_HOST}
        - name: DB_PORT
          value: "${QOTD_DB_PORT}"
        - name: DB_USER
          value: ${QOTD_DB_USER}
        - name: DB_PASS
          value: ${QOTD_DB_PASS}
        - name: DB_NAME
          value: ${QOTD_DB_NAME}
        - name: INSTANA_AGENT_HOST
          value: NOT_USED
        image: registry.gitlab.com/quote-of-the-day/quote-service:v5.1.0
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 10
          httpGet:
            path: /health
            port: 3001
            scheme: HTTP
          initialDelaySeconds: 60
          periodSeconds: 60
          successThreshold: 1
          timeoutSeconds: 20
        name: qotd-quote
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /health
            port: 3001
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 800Mi
          requests:
            cpu: 25m
            memory: 200Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
---
apiVersion: v1
kind: Service
metadata:
  name: qotd-quote
  labels:
    app: qotd-quote
    tier: api
spec:
  type: ClusterIP
  ports:
    - port: 3001
      targetPort: 3001
      protocol: TCP
      name: http
  selector:
    app: qotd-quote

